.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 40%;
    height: auto;   
    margin-top: 5rem;
    padding: 1rem;
    background-color: rgb(23, 23, 23);
    text-align: center;
    border-radius: 0.7rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}
.btn {
  font-size: 2rem;
  color: white;
  padding: 1rem;
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn{
  background-color: #2560de;
}
  .btn:hover {
    background-color: #154fcb;
  }

.create{
  background-color: rgb(60, 189, 60);
  border: solid 0.5px black;
  }
.create:hover {
  background-color: rgb(47, 158, 47);
}

.form-group {
    margin-bottom: 1.5rem;
  }
  
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center; 
  }
  
.form-label {
  font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
.form-input {
  padding: 0.8rem;
  border: 1px solid #ccc;    
  border-radius: 0.5rem;
  }
  
input[type="file"].custom-file-input {
  display: none;
}

.custom-file-input + .form-label {
  display: inline-block;
  background-color: #2560de;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.custom-file-input + .form-label:hover {
  background-color: #154fcb;
}

.custom-file-input + .form-label:active {
  background-color: #1a75f2;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.buttons-wrapper-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.have-account, .not-have-account {
  text-decoration: none;
  color: rgb(35, 199, 70);
}

.have-account, .not-have-account, strong {
  font-size: 1.8rem;
}

.have-account:hover, .not-have-account:hover {
  color: rgb(10, 146, 39);
}