.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 40%;
    height: auto;   
    margin-top: 5rem;
    padding: 1rem;
    background-color: rgb(23, 23, 23);
    text-align: center;
    border-radius: 0.7rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}
.btn {
color: white;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-block; 
}
.btn{
  background-color: #2560de;
}
  .btn:hover {
    background-color: #154fcb;
  }

.form-group {
    margin-bottom: 1.5rem;
  }
  
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center; 
  }
  
.form-label {
  font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
.form-input {
  padding: 0.8rem;
  border: 1px solid #ccc;    
  border-radius: 0.5rem;
  }

/* Esconde o campo de input de arquivo padrão */
input[type="file"].custom-file-input {
  display: none;
}

/* Customiza o botão de upload */
.custom-file-input + .form-label {
  display: inline-block;
  background-color: #2560de;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.custom-file-input + .form-label:hover {
  background-color: #154fcb;
}

.custom-file-input + .form-label:active {
  background-color: #1a75f2;
}
