.wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.40);
    border: solid 1px rgba(255, 255, 255, 0.30);
    width: 90%;
    padding: 1rem;
}

h1 {
    font-size: 2.4rem;
    color: white;
}

label {
    font-size: 2rem;
    font-weight: 600;
}

button {
    padding: 1rem;
    border: solid 1px rgba(254, 254, 254, 0.30);
    background-color: transparent;
    margin-top: 2rem;
    display: inline-block;
    color: white;
    font-size: 2rem;
    width: max-content;
    outline: none;
    border-radius: 0.5rem;
}

button:hover {
    background-color: rgb(52, 52, 52);
    
}